@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode */
    --primary: 24 24 27; /* #18181B */
    --primary-accent: 244 244 245; /* #F4F4F5 */
    --brand: 255 64 23; /* #FF4017 */
    --background: 255 255 255; /* #FFFFFF */
    --background-secondary: 244 244 245; /* #F4F4F5 */
    --secondary: 24 24 27; /* #18181B */
    --border: 228 228 231; /* #E4E4E7 */
    --accent: 244 244 245; /* #F4F4F5 */
    --muted: 113 113 122; /* #71717A */
    --destructive: 229 57 53; /* #E53935 */
    --positive: 34 197 94; /* #22C55E */

    --color-border-default: 228, 228, 231, 1;
    --scrollbar-width: 0.1rem;
  }

  .dark {
    /* Dark Mode (Preserved) */
    --primary: 250 250 250; /* #FAFAFA */
    --primary-accent: 24 24 27; /* #18181B */
    --brand: 255 64 23; /* #FF4017 */
    --background: 17 17 19; /* #111113 */
    --background-secondary: 39 39 42; /* #27272A */
    --secondary: 245 245 245; /* #f5f5f5 */
    --border: 255 255 255; /* Base for rgba usage */
    --accent: 39 39 42; /* #27272A */
    --muted: 161 161 170; /* #A1A1AA */
    --destructive: 229 57 53; /* #E53935 */
    --positive: 34 197 94; /* #22C55E */

    --color-border-default: 255, 255, 255, 0.2;
  }

  body {
    @apply bg-background text-primary;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  @apply bg-border;
  border-color: rgba(var(--border), var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
